* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 100px;
    background-color: rgb(252, 252, 39);
    border-radius: 10px;
}

.container > h2 {
    text-align: center;
    margin-top: 10px;
}

.container > h1 {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(73, 73, 248);
}

.container > h2 {
    color: rgb(73, 73, 248);
}

.cepResposta {
    margin-top: 10px;
    text-align: center;
}

.cepRequisicao {
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid rgb(73, 73, 248);
    border-radius: 4px;
}

.user_interation {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.button {
    background-color: rgb(21, 21, 165);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
}

.button:hover {
    background-color: rgb(42, 42, 201);
    cursor: pointer;
}