* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(100, 33, 126);
    color: white;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav a {
    color: white;
}

main {
    background-color: rgb(40, 30, 44);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 12%;
    height: 20rem;
    background-color:  rgb(100, 33, 126);
    border-radius: 5px;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 60%;
    height: 20rem;
    border-radius: 5px;
}

.articles p:first-child {
    text-align: justify;
    margin-bottom: 10px;
    padding: 20px;
    height: 25rem;
    background-color: rgb(100, 33, 126);
    border-radius: 5px;
}

.articles p:last-child {
    text-align: justify;
    margin-top: 10px;
    padding: 20px;
    height: 25rem;
    background-color: rgb(100, 33, 126);
    border-radius: 5px;
}

footer {
    padding: 20px;
    background-color: rgb(100, 33, 126);
    color: white;
    text-align: center;
}